@import url('sections/header.css');
@import url('sections/header-host.css');
/* @import url('sections/authorizated.css'); */
@import url('sections/main.css');
@import url('sections/cards.css');
@import url('sections/category.css');
@import url('sections/gallery.css');
@import url('sections/login-form.css');
@import url('sections/aos.css');
@import url('settings/var.css');


* {
    box-sizing: border-box;
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}

/* .active {
  display: block !important;
} */

@media screen and (max-width: 1920px) {
  .container {
    max-width: 1700px;
  }
}

@media screen and (max-width: 1750px) {
  .container {
    max-width: 1450px;
  }
}

@media screen and (max-width: 1450px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 992px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 576px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
  }

}

/* menu-item a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
} */


