
.header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #050505;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* .hedaer__logo {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 20px;
    color: #FFFFFF;
} */

.hedaer__logo, a {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 20px;
    color: #FFFFFF;
}

.header__list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.header__link a {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

.header__link a::before {
    content: "";
    display: flex;
    gap: 20px;
    bottom: -2px;
    width: 100%;
    height: 5px;
    background: #44B51C;
    border-radius: 50px;
    transform: scaleX(0);
    transition: transform 0.2s linear;
}

.header__link a:hover:before {
    transform: scaleX(1);
}

.header__icon {
    display: flex;
    align-items: center;
    gap: 50px;
}