.login-form {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #ffffff;
    /* Белый цвет фона */
    border: 1px solid #cccccc;
    /* Серый цвет границы */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Тень */
}

.login-form.active {
    display: block;
}

.login-form form {
    display: flex;
    flex-direction: column;
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form button {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
}

.login-form button {
    width: 100%;
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #0056b3;
}