.main {
    padding-top: 140px;
    padding-bottom: 48px;
    background-image: url('https://i.ibb.co/kXh3tgx/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding-left: 120px;
}

.main__wrapper {
    display: flex;
    flex-direction: column;
}

.main__text {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 48px;
    color: var(--color-txt);
    margin-left: 120px;
    order: -1;
    /* Изменение порядка следования элементов */
}

.main__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 120px;
    margin-top: 80px;
}

.main__item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.main__icon {
    width: 40px;
    /* ширина и высота иконок */
    height: 40px;
    margin-right: 20px;
}

.main__icon img {
    width: 100%;
}

.main__icon:hover {
    transform: scale(1.5);
}

.main__txt {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: var(--color-txt);
    margin-left: 60px;
}

.main__btn {
    display: flex;
    padding-top: 50px;
    padding-left: 120px;
}

.catalog-button {
    background-color: var(--color-btn);
    border: none;
    border-radius: 10px;
    padding: 23px 64px;
    color: var(--color-txt);
    font-size: 28px;
    font-weight: 700;
}